services:
  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: nest_db
    ports:
      - '3306:3306'
    volumes:
      - ./data/mysql:/var/lib/mysql

  redis:
    image: redis:latest
    ports:
      - '6379:6379'
    volumes:
      - ./data/redis:/data
